.form-horizontal .control-label{
/* text-align:right; */
    text-align:left;
}

.card {
    border-color: DarkSlateGrey;
    border-style: solid;
    border-width: thick;
    border-radius: 20px;
}

.wws {
    border-color: GoldenRod;
}

.hn {
    border-color: FireBrick;
}

.foc {
    border-color: DarkBlue;
}

@media only screen and (max-device-height: 600px) {
    .card {
        height: 100vh;
    }
}

@media only screen and (min-device-height: 600px) {
    .card {
        height: 50vh;
    }
}
